body {
    background: rgb(107, 107, 241);
}
h1 {
    color: rgb(17, 8, 141);
} 

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;    
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.445) /*Sombreamento*/
}

.container {
    max-width: 1200px;
    width: 517px;
    margin: 0 auto;    
    display: grid;
}
#bemVindo, h3:hover {
    color: rgb(17, 148, 17);   
}
#bemVindo {
    margin: 0;
}

div {
    text-align: center;
    padding: 5px;
}

p, h3 {
    text-align: center;
   
}

p:hover {
    text-align: center;
    color: darkblue;
}
footer {
    width: auto;
    color: rgb(12, 107, 107);
    text-align: center;
    font-style: italic;
}
#butao {
    border-radius: 6px;
    width: 100px;
    margin: 0px 0px 0px 210px
}
#butao:hover {
    color: rgb(161, 194, 191);
}
